# Introduction

I do not want to write this know

# Table of Contents

1.  [Imports](#Imports)
2. [Loading Data](#Loading-Data)
3. [Preprocessing](#Preprocessing)
4. [Modeling](#Modeling)

# Imports

In [28]:
import pandas as pd
import numpy as np
import script.functions as func
from sklearn.model_selection import GridSearchCV, train_test_split, cross_val_score

from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline
from sklearn.metrics import confusion_matrix, plot_confusion_matrix

# Loading Data

In [4]:
df_train = pd.read_csv('../data/clean_train.csv').drop(columns='Unnamed: 0')

In [8]:
df_test = pd.read_csv('../data/clean_test.csv').drop(columns='Unnamed: 0')

In [9]:
df_train.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,series escapades demonstrating adage good goos...,1
1,2,1,series escapades demonstrating adage good goose,2
2,3,1,series,2
3,6,1,escapades demonstrating adage good goose,2
4,9,1,escapades,2

In [10]:
df_test.head()

   PhraseId  SentenceId                                         Phrase
0    156061        8545  intermittently pleasing mostly routine effort
1    156065        8545         intermittently pleasing mostly routine
2    156066        8545                        intermittently pleasing
3    156068        8545                                 intermittently
4    156069        8545                                       pleasing

# Preprocessing

In [12]:
train = func.text_processing(df_train)
test = func.text_processing(df_test)

In [22]:
X = train['Phrase']
y = train['Sentiment']
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=42)

In [24]:
#######<---------look at stratifying--------------->###########
#Stratifying is not working need to look at it

In [25]:
y.value_counts(normalize=True)

2    0.505619
3    0.211757
1    0.178379
4    0.058892
0    0.045354
Name: Sentiment, dtype: float64

# Modeling

In [18]:
rf = RandomForestClassifier(random_state=42)

In [27]:
# params = {
#     'max_depth': [3,4,5,6,7],
#     'max_features':[None, 'auto'],
#     'n_estimators': [100, 500, 1000]
# }

# gs= GridSearchCV(rf,param_grid=params)
# gs.fit(X_train, y_train)
# print(gs.best_score_)
# gs.best_params_